.navbar {
    padding: 10px;
    background-color: $white;
    height: 60px;
    position: relative;
    &__brand {
        margin-left: 30px;
        &__link {
            color: $black;
            font-size: $largeHeading;
            font-weight: $bold700;
            i {
                font-size: 15px;
                background-color: $black;
                color: $white;
                padding: 10px;
                border-radius: 50px;
            }
        }
    }
    &__list {
        .navbar__nav {
            .navbar__item {
                padding: 8px 25px;
                margin-left: 20px;
                .navbar__link {
                    color: $black;
                    font-weight: $bold700;
                    font-size: $mediamText;
                    &:hover {
                        color: $textMuted;
                    }
                }
            }
        }
    }
    &__notification {
        margin: auto 50px auto auto;
        &__link {
            color: $textMuted;
            padding: 9px 15px;
            font-size: $bold700;
            &:hover {
                color: $black;
            }
        }
        &__dropdown {
            .notification__link {
                display: block;
                padding: 8px 15px;
                color: $textMuted;
                &:hover {
                    color: $black;
                }
            }
            .notification__dropdown {
                background-color: $whiteSmoke;
                padding: 5px 0;
                border-radius: 5px;
                position: absolute;
                top: 60px;
                right: 255px;
                .dropdown__list {   
                    display: none;
                    position: relative;             
                    .dropdown__item {
                        padding: 10px 15px;
                        font-size: $mediamText;
                        border-bottom: 1px solid $thickBackground;
                        &:first-child {
                            &::before {
                                content: '';
                                width: 0;
                                height: 0;
                                border-bottom: 15px solid $whiteSmoke;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 0;
                                position: absolute;
                                top: -18px;
                                left: 130px;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            background-color: $white;
                        }
                        i {
                            color: $red;
                        }
                    }
                }
            }
        }
        .navbar__avator {
            &__img {
                width: 40px;
                height: 40px;
                margin: 0 10px;
            }
            .avator__title {
                &__name {
                    font-size: $mediamText;
                }
                &__user__name {
                    display: block;
                    font-size: $smallText;
                    margin-bottom: 30px;
                }
            }
            &__link {
                color: $black;
                padding: 10px 20px;
            }
        }
    }
}