.rate__card {
    background-color: $white;
    border-radius: 15px;
    padding: 15px;
    width: 280px;
    &__title {
        font-size: $mediamHeading;
        @include flex(row);
        i {
            margin-left: auto;
            color: $textMuted;
        }
    }
    &__graph {
        position: relative;
        .graph__title {
            font-size: $largeHeading;
        }
        .graph__sub_title {
            font-size: $mediamText;
            color: $textMuted;
        }
        .graph__field {
            svg {
                position: absolute;
                left: 40px;
                top: 225px;
                transform: scaleX(-1);
                width: 170px;
            }
            &__vertical {
                @include flex(column);
                span {
                    padding: 30px 0;
                    font-size: $mediamText;
                    color: $textMuted;
                    &:last-child {
                        padding-bottom: 0;
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 262px;
                            left: 40px;
                            background-color: $graphLine;
                            width: 175px;
                            height: 1px;
                        }
                    }
                }
            }
            &__horizontal {
                span {
                    padding: 0 15px;
                    font-size: $mediamText;
                    color: $textMuted;
                    position: relative;
                    &:first-child {
                        padding-left: 28px;
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: -184px;
                            left: 40px;
                            background-color: $graphLine;
                            width: 1px;
                            height: 170px;
                        }
                    }
                }
            }
        }
    }
}

// tablet view

@media (max-width: 1300px) {
    .rate__card {
        width: 44vw;
        height: 380px;
        &__graph {
            width: 300px;
            margin: auto;
            .graph__title {
               text-align: center;
            }
            .graph__sub_title {
                display: block;
                text-align: center;
            }
            .graph__field {
                margin-left: 20px;
                svg {
                    position: absolute;
                    left: 60px;
                    top: 232px;
                    width: 180px;
                }
                &__vertical {
                    @include flex(column);
                    span {
                        &:last-child {
                            &::before {
                                top: 272px;
                                left: 60px;
                                width: 180px;
                                height: 1px;
                            }
                        }
                    }
                }
                &__horizontal {
                    @include flex-jc-ai(row , space-between , center);
                    width: 180px;
                    span {
                        padding: 20px 0;
                        &:first-child {
                            &::before {
                                top: -180px;
                                left: 40px;
                                width: 1px;
                                height: 180px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//mobile view 
@media (max-width: 560px) {
    .rate__card {
        margin-top: 20px;
        width: 95vw;
        height: 380px;
        &__graph {
            .graph__field {
                margin-left: 20px;
                svg {
                    position: absolute;
                    left: 60px;
                    top: 219px;
                    width: 240px;
                }
                &__vertical {
                    @include flex(column);
                    span {
                        &:last-child {
                            &::before {
                                top: 272px;
                                left: 60px;
                                width: 240px;
                                height: 1px;
                            }
                        }
                    }
                }
                &__horizontal {
                    span {
                        padding: 20px 15px 0 15px;
                        &:first-child {
                            padding-left: 68px;
                            &::before {
                                top: -184px;
                                left: 40px;
                                width: 1px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}