// colors
$white: white;
$whiteSmoke: whitesmoke;
$black: black;
$background: #f5f5fb;
$thickBackground: #e4e4ee;
$darkBlue: #5768EF;
$thickBlue: #005FF2;
$blue: #478cf6;
$yellow: #fcdf77;
$pink: #FE8FD6;
$red: #FF423B;
$skyBlue: #93DAF6;
$thickSkyBlue: #69CBF2;
$darkSkyBlue: #5D9EC9;
$liteGreen: #A9D9AD;
$orange: #FF8900;
$liteOrange: #FEB35C;
$textMuted: #848488;
$graphLine: rgba(0, 0, 0, 0.192);

//font size
$extraLargeHeading: 30px;
$largeHeading: 25px;
$mobileLargeHeading: 20px;
$mediamHeading: 15px;
$smallHeading: 12px;

$extraMediamText: 17px;
$mediamText: 13px;
$smallText: 10px;
$mobileSmallText: 7px;

//font weight 
$light300: 300;
$regular400: 400;
$semiBold600: 600;
$bold700: 700;

